<div class='questions'>
  <form method="POST", action="/questions/<%= @question.id %>/vote" class="vote">
    <button type="submit" value="upvote">Vote!</button>
  </form>
  <p><%= @question.votes.pluck(:vote_value).sum %></p>
  <form method="POST", action="/questions/<%= @question.id %>/vote" class="downvote">
    <button type="submit" value="downvote">Downvote!</button>
  </form>

  <h3>Question: <%= @question.title %></h3>

  <p>Asked by: <%= @question.asker.username %></p>

  <p><%= @question.body %></p>
  <br>
  <br>

  <b>Answers</b>
  <%= erb(:"answers/index") %>
  <hr>

  <h3>Your Answer:</h3>

  <form action="/questions/<%=@question.id%>/answers" method="post">
  Answer:<input type="text" placeholder="Answer" name="body">
  <br>
  <br>

  <input type="submit" placeholder="Submit">
  </form>

</div>

</div>
