<div class='questions'>
  <h3>Question: <%= @question.title %></h3>
  <p>Asked by: <%= @question.asker.username %></p>
  <p><%= @question.body %></p>
  <br>
  <br>
  <b>Comments:</b>
  <% @question.comments.each do |comment| %>
  <span><i>User: <%= comment.user.username %></i></span>
  <%= comment.body %> <br>
  <% end %>
  <%= erb(:"comments/new_question_comment") %> <br><br>
  <b>Answers</b>
  <%= erb(:"answers/index") %>
  <hr>
  <h3>Your Answer:</h3>
  <form action="/questions/<%=@question.id%>/answers" method="post">
  Answer:<input type="text" placeholder="Answer" name="body">
  <br>
  <br>
  <input type="submit" placeholder="Submit">
  </form>
</div>

</div>
