<div class='questions'>
  <h3>Question: <%= @question.title %></h3>
  <p>Asked by: <%= @question.asker.username %></p>
  <p><%= @question.body %></p>
  <br>
  <br>
  <h3>Comments:</h3>
  <% @question.comments.each do |comment| %>
  
  <%= comment.body %><br>
  <span><i>User: <b><%= comment.user.username %></b></i></span><br><br>
  <% end %>
  <%= erb(:"comments/new_question_comment") %> <br><br>
  <b>Answers</b>
  <%= erb(:"answers/index") %>
  <hr>
  <h3>Your Answer:</h3>
  <div class="errors">
    <% if @errors %>
    <%@errors.each do |error| %>
    <%=error%>
    <% end %>
  <% end %>
</div>
  <br>
  <br>
  <form action="/questions/<%=@question.id%>/answers" method="post">
  Answer:<input type="text" placeholder="Answer" name="body">
  <br>
  <br>
  <button type="submit" value="Provide catharsis">Provide catharsis</button>
  </form>
</div>

</div>
