<div class="answers">
  <ul>
    <% if @answers.length != 0 %>
      <% @answers.each do |answer| %>
        <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/vote" class="vote">
          <button class="upvote" type="submit" name="vote" value="1">Vote!</button>
        </form>
        <p><%= answer.votes.pluck(:vote_value).sum %></p>
        <form method="POST", action="/questions/<%= @question.id %>/answers/<%= answer.id %>/vote" class="downvote">
          <button class="downvote" type="submit" name="vote" value="-1">Downvote!</button>
        </form>
        <li><%= answer.responder.username %><br><br><%= answer.body%>
        <ul>
        <% answer.comments.each do |comment| %>
          <li><%= comment.body %></li>
          <% end %>
        </ul></li><br><br>
        <div>
          <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>/comments" method="post">
            <label for="comment">Comment:</label>
            <input type="textfield" name="comment"><br>
            <button>Comment</button>
          </form>
        </div>

         <br><br>
        <br>
      <% end %>
    <% else %>
      <i>No answers yet. Why don't you help them out?</i>
    <% end %>
  </ul>
</div>


